<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0' >

    <!-- Make sure to use Google Analytics here -->
    <title>{{title}}</title>

    <!-- Scripts -->
    <!-- CDN's -->
    <script type='text/javascript' src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js'></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js'></script>

    <!-- Backbone App namespace -->
    <script type="text/javascript" src="js/namespace.js"></script>

    <!-- Backbone Models -->
    <script type="text/javascript" src="js/models.js"></script>

    <!-- Backbone Router -->
    <script type="text/javascript" src="js/router.js"></script>

    <!-- Backbone Views -->
    <script type="text/javascript" src="js/views/allProfilesView.js"></script>
    <script type="text/javascript" src="js/views/profilePreviewView.js"></script>
    <script type="text/javascript" src="js/views/projectPreviewView.js"></script>
    <script type="text/javascript" src="js/views/allProjectsView.js"></script>
    <script type="text/javascript" src="js/views/errorView.js"></script>
    <script type="text/javascript" src="js/views/individualProjectView.js"></script>
    <script type="text/javascript" src="js/views/individualProfileView.js"></script>
    <script type="text/javascript" src="js/views/loginView.js"></script>
    <script type="text/javascript" src="js/views/mainView.js"></script>
    <script type="text/javascript" src="js/views/navigationView.js"></script>
    <script type="text/javascript" src="js/views/logWidgetView.js"></script>
    <script type="text/javascript" src="js/views/footerView.js"></script>
    <script type="text/javascript" src="js/views/centerView.js"></script>



    <!-- UI -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


    <!-- Bootstrap js CDN -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <!-- UI Theme script-->
    <script type="text/javascript" src="js/ui_theme.js"></script>

    <!-- StyleSheets -->
    <!-- Import Webfonts -->
    <link rel="stylesheet" href="css/import_typography.css">
    <!-- Normalize css CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">


    <!-- Bootswatch theme -->
    <link rel="stylesheet" href="https://bootswatch.com/readable/bootstrap.min.css">

    <!-- Animate css CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css">
    <!-- Style css -->
    <link rel="stylesheet" href="css/style.css">







  </head>
  <body>
    {{{body}}}
  </body>
</html>
