<!doctype html>
<html>
  <head>
    <!-- Make sure to use google analytics here -->
    <title>{{title}}</title>
    <!-- you may replace these CDN urls with local files if you prefer -->
    <script type='text/javascript' src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js'></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js'></script>

    <!-- Scripts -->
    <script type="text/javascript" src="js/namespace.js"></script>
    <script type="text/javascript" src="js/models.js"></script>
    <script type="text/javascript" src="js/views.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

    <!-- View Folder files -->
    <script type="text/javascript" src="js/views/allProfilesView.js"></script>
    <script type="text/javascript" src="js/views/allProjectsView.js"></script>
    <script type="text/javascript" src="js/views/editProfileView.js"></script>
    <script type="text/javascript" src="js/views/editProjectView.js"></script>
    <script type="text/javascript" src="js/views/errorView.js"></script>
    <script type="text/javascript" src="js/views/individualProjectView.js"></script>
    <script type="text/javascript" src="js/views/loginView.js"></script>
    <script type="text/javascript" src="js/views/mainView.js"></script>
    <script type="text/javascript" src="js/views/navigationView.js"></script>
    <script type="text/javascript" src="js/views/footerView.js"></script>

    <!-- StyleSheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    <link rel="stylesheet" href="https://bootswatch.com/readable/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

  </head>
  <body>
    {{{body}}}
  </body>
</html>
