<!DOCTYPE html>
<html>
  <head>
    <title>Backbone.js Tests</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- JavaScript libraries. -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>



    <!-- Source files. -->
    <script src="/js/namespace.js"></script>
    <script src="/js/views.js"></script>
    <script src="/js/models.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/views/allProjectsView.js"></script>
    <script src="/js/views/editProfileView.js"></script>
    <script src="/js/views/editProjectView.js"></script>
    <script src="/js/views/errorView.js"></script>
    <!-- <script src="/js/views/forgotPasswordView.js"></script> -->
    <script src="/js/views/individualProjectView.js"></script>
    <!-- <script src="/js/views/individualStudentView.js"></script> -->
    <script src="/js/views/loginView.js"></script>
    <script src="/js/views/mainView.js"></script>
    <script src="/js/views/navigationView.js"></script>
    <script src="/js/views/footerView.js"></script>
    <!-- <script src="/js/views/resetPasswordView.js"></script> -->

    <!-- Mocha styles. -->
    <link rel="stylesheet" href="/test/js/lib/mocha.css" />

    <!-- Test libraries. -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mocha/2.3.3/mocha.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chai/3.3.0/chai.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sinon.js/1.15.4/sinon.min.js"></script>



    <!-- Test Setup -->
    <script>
      // Setup.
      var expect = chai.expect;
      mocha.setup("bdd");

      // Run tests on window load event.
      window.onload = function () {
        (window.mochaPhantomJS || mocha).run();
      };
    </script>

    <!-- Tests. -->
    <script src="/test/js/spec/firstTests.spec.js"></script>

  </head>
  <body>
    <div id="mocha"></div>
    <!-- Test Fixtures. -->
    <div id="fixtures"style="display: none; visibility: hidden;"></div>
  </body>
</html>
