<div id="app"></div>
<script type="text/javascript">
  var app = app || {};
  app.user_session = {{ client_user_session }};
</script>
<script type="text/javascript" src="js/userEditableModels.js"></script>
<script type="text/javascript" src="js/views/myProjectsView.js"></script>
<script type="text/javascript" src="js/views/editProfileView.js"></script>
<script type="text/javascript" src="js/views/editProjectView.js"></script>
<script type="text/javascript" src="js/main.js"></script>
