/*
 *
 *
 *
 *                                Stylesheet
 *                               ==========
 *                              ==========
 *                             ==========
 *                            //////////
 *                           //////////
 *                          //////////
 *                         //////////
 *                        //////////
 *                       //////////
 *                      //////////
 *                     //////////
 *                    //////////
 *                   //////////
 *                  //////////
 *                 //////////
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 */


a, button {
  transition: background .4s, border .4s, color .4s;
  transition-timing-function: ease-out;
}

body {
  background: white;
  transition: background .4s;
  transition-timing-function: ease-in;
}

footer {
  margin-top: 2em;
  background: rgba(207,203,210,1.0);
  padding-top: 4em;
  padding-bottom: 4em;
}

footer p {
  margin: 0;
  font-weight: bold;
  color:rgba(100,100,100,1.0);
}

.all_profiles_view, .all_projects_view {
  padding-left: 0;
}

.card{
  background: rgba(200,200,100,1.0);
  list-style-type: none;
}

.centerdiv {
  background: white;
  min-height: 450px;
}

.jumbotron {
  padding-top: 4em;
  padding-bottom: 4em;
}

.jumbotron .btn-lg{
  margin: 1em 1em 0 0;
}

.navbar {
  padding: 0 0;
  transition: padding 1s;
}

.top-nav-collapse {
  padding: 0;
}

.primary_site_content_links {
  background: rgba(255,255,255,1.0);
}

.fadeIn {
  animation-duration: .5s;
  animation-timing-function: ease-out;
}

@media screen and ( max-width: 750px ) {
  .jumbotron {
    padding: 5%;
  }

  .jumbotron .btn-lg{
    display: block;
    margin: 1em auto;
  }
}
