/*
 *
 *                                              Stylesheet
 *                                              ==========
 *                                          =========
 *                                     ==========
 *                                    //////////
 *                                 //////////
 *                              //////////
 *                         //////////
 *                        //////////
 *                       //////////
 *                      //////////
 *                     //////////
 *                    //////////
 *                   //////////
 *                  //////////
 *                 //////////
 *                //////////
 *               //////////
 *              //////////
 *             //////////
 *            //////////
 *           //////////
 *          //////////
 *         //////////
 *        //////////
 *       //////////
 *      //////////
 *     //////////
 *    //////////
 *   **********
 *  **********
 * **********
 ***********
 ***********
 ***********
 ***********
 ***********
 ***********
 ***********
 ***********
 ***********
 ***********
 ***********
 ***********
 ***********
 ***********
 ***********
 ***********/



/*
 *
 *        This is why the entire site is grayscale
 *
 */
 img {
   -webkit-filter: grayscale(100%);
   filter: grayscale(100%);
 }

 a,h2,h3,label,li,i {
   color: rgba(120,120,120,1.0);
 }
a:hover,
a:active, {
  color: rgba(60,60,60,1.0);
}

.btn ,
.badge {
  background: rgba(120,120,120,1.0);
  border-color:rgba(120,120,120,1.0);
}
.btn:hover{
  background: rgba(80,80,80,1.0);
}
.btn:active {
  background: rgba(60,60,60,1.0);
}





a, button {
  transition: background .3s, border .3s, color .3s;
  transition-timing-function: ease-out;
}

body {
  background: white;
  transition: background .3s;
  transition-timing-function: ease-out;
}

footer {
  margin-top: 8em;
  background: rgba(207,203,210,1.0);
  padding-top: 6em;
  padding-bottom: 6em;
}

footer p {
  margin: 0;
  font-weight: bold;
  color:rgba(100,100,100,1.0);
}


a#profiles_link.navigation_link ,
a#projects_link.navigation_link  {
  /*color: rgba(69,130,236,1.0);*/
  color: rgba(100,100,100,1.0);
}

#aboutDiv {
  margin-bottom: 0.5em;
  animation-duration: 1.2s;
}

.active a#profiles_link.navigation_link ,
.active a#projects_link.navigation_link  {
  /*color: rgba(69,130,236,1.0);*/
  color: rgba(100,100,100,1.0);
}

.all_profiles_view ,
.all_projects_view {
  padding-left: 0;
  padding-right: 0;
}


/*
 *
 *
 *            PROFILE IMAGES
 *
 *
 */

/* This keeps the log widget from flashing on before the img has loaded.
 * It works most of the time.
 * Adjust the duration up or down, as is useful.
 */
.user_avatar {
  animation-duration: 10s;
  /*animation-timing-function: cubic-bezier(.56,-0.49,.79,.17);*/
}

.profile_img {
  padding: 0;
  display: block;
  margin: 0 auto;
  width: 30%;
  border-radius: 100%;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.profile_img_preview {
  display: block;
  margin: 0 auto;
  width: 60%;
  border-radius: 100%;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}


.preview_text {
  border-top: 1px solid rgba(220,220,220,1.0);
  box-shadow: inset 0px 1px 0px 0px rgba(200,200,200,1.0);
  margin-top: 0;
  padding-left: 0;
}




.badge {
  opacity:0.85;
  font-weight: 300;
  font-size: 1.25em;
  list-style-type: circle;
  color: white;
  padding: 7px;
  border-radius: 3px;
  margin: 5px 5px 5px 0px;
}


.user_editor_input_label {
  font-size: 1.4em;
  margin-top: .75em;
  margin-bottom: .75em;
}

.profile_headline {
  border-top: 1px solid rgba(220,220,220,1.0);
  box-shadow: inset 0px 1px 0px 0px rgba(200,200,200,1.0);
}

.card {
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.07);
  background: rgba(255,255,255,1.0);
  padding: 2em;
  overflow: auto;
  display: block;
}

.centerdiv {
  background: transparent;
  min-height: 450px;
}

.content_box {
  padding: 2%;
  background: transparent;
  /*background: rgba(200,200,200,1.0);*/
}

.profile_link {
  display: block;
}



.profile_preview ,
.project_preview {
  list-style-type: none;
}

.profile_preview a.preview_link ,
.project_preview a.preview_link {
  /*height: 250px;*/
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.07);
  text-decoration: none;
  width: 100%;
  display: inline-block;
  background: rgba(255,255,255,1.0);
  padding: 5em 5em;
  margin-bottom: 40px;
}

.profile_preview .preview_link:hover ,
.project_preview .preview_link:hover {
  background: rgba(245,245,245,0.8);
  color: rgba(45,45,145,0.5);
}

.jumbotron {
  background: white;
  padding-top: 4em;
  padding-bottom: 4em;
}

.jumbotron .btn-lg{
  margin: 1em 1em 0 0;
}

.top-nav-collapse {
  padding: 0;
}

.primary_site_content_links {
  background: rgba(255,255,255,1.0);
}

.fadeIn {
  animation-duration: .3s;
  animation-timing-function: ease-out;
}

.navbar {
  margin-bottom: 50px;
  padding: 0 0;
  transition: padding 1s;
}

.navbar-brand:hover #brand_logo_h1{
    color: rgba(120,120,120,1.0);;
}

.user_title {
  font-weight: 300;
}

#brand_logo_h1 {
  color: rgba(160,160,160,1.0);
  font-weight: 700;
  font-size: 3rem;
  margin-top: 0.175rem;
  transition: color .6s;
  transition-timing-function: ease-in-out;
}

#brand_logo_h1 .logo_dot{
  font-family: 'Open Sans', sans-serif;
  animation-duration: .6s;
 }

#brand_logo_h1 .logo_ninja {
  font-family: 'Permanent Marker', cursive;
  font-size: 2.5rem;
  animation-duration: .35s;
 }

#log_widget_toggle {
  padding: 0;
}

#log_widget_toggle img{
  border-radius: 100%;
}

#log_widget_toggle .caret{
  color: rgba(160,160,160,1.0);
  margin-left: 10px;
  border-top:6px dashed;
  border-right:6px solid transparent;
  border-left:6px solid transparent;
}

#log_widget_profile_img {
  height: 35px;
  width: 35px;
}

.headline {
  margin-top: .25em;
  margin-bottom: .05em;
}
.byline {
  font-weight: 300;
  margin-top: 0;
}


legend {
  color: rgba(120,120,120,1.0);
  margin-bottom: 1.5em;
  text-align: right;
}
legend i {
  margin-left: 1em;
}

ul.social_links,
ol.top_skills_edit_list,
ol.top_tools_edit_list,
ul.social_link_editor_list {
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 0;
}

ul.social_links i,
ol.top_skills_edit_list i,
ol.top_tools_edit_list i,
ul.social_link_editor_list i {
  margin-right: 1em;
}

ul.social_links li ,
ol.top_skills_edit_list li,
ol.top_tools_edit_list li,
ul.social_link_editor_list li{
  font-size: 1.4em;
  margin-bottom: .85em;
}

ul.social_links:last-child ,
ol.top_skills_edit_list:last-child,
ol.top_tools_edit_list:last-child,
ul.social_link_editor_list:last-child{
  margin-bottom: 0px;
}


#profile_editor .row {
  margin-bottom: 40px;
}

.edit_save_button {
  float:right;
  margin-top: 40px;
}



.my_content_header {
  margin-top: 0;
  text-align: center;
}

.skill_pill {
  border-radius: 5px;
  color: rgba(255,255,255,1.0);
  font-size: 1.5rem;
  animation-duration: .35s;
  width: 20%;
  position: relative;
  display: inline-block;
  background: rgba(200,100,100,1.0);
  padding: 15px;
  text-align: center;
  margin:1%;
  overflow: hidden;
}




/*
 * Large Screen Media Query
 */

@media (min-width: 993px) and ( max-width: 2048px ) {


div.content_box{
  /*background: red;*/
  padding-bottom:0;
}

  .all_profiles_view ,
  .all_projects_view {
    padding-left: 0;
    padding-right: 0;
  }

  .profile_img_preview {
    display: block;
    margin: 0 auto;
    width: 75%;
    border-radius: 100%;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  }

  .profile_preview a.preview_link ,
  .project_preview a.preview_link {
    /*height: 250px;*/
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.07);
    text-decoration: none;
    width: 100%;
    display: inline-block;
    background: rgba(255,255,255,1.0);
    padding: 2.5em 2.5em;
    margin-bottom: 40px;
  }

  .profile_preview .preview_link:hover ,
  .project_preview .preview_link:hover {
    background: rgba(240,240,240,1.0);
  }

  .jumbotron {
    padding-top: 4em;
    padding-bottom: 4em;
  }

  .jumbotron .btn-lg{
    margin: 1em 1em 0 0;
  }

  .top-nav-collapse {
    padding: 0;
  }

  .navbar {
    padding: 0 0;
  }

  .navbar-brand:hover #brand_logo_h1{
      color: rgba(120,120,120,1.0);;
  }

  .user_name {
    margin-bottom: 0;
  }

  .user_title {
    font-weight: 300;
    margin-top: 0;
  }

  #brand_logo_h1 {
    color: rgba(160,160,160,1.0);
    font-weight: 700;
    font-size: 3rem;
    margin-top: 0.175rem;
  }

  #brand_logo_h1 .logo_ninja {
    font-size: 2.5rem;
   }

   .profile_headline {
     padding: 0;
     margin-left: 10%;
   }


}

/*
 * Medium Screen Media Query
 */

@media (min-width: 769px) and ( max-width: 992px ) {

   .jumbotron {
     padding: 5%;
   }

   .jumbotron .btn-lg{
     display: block;
     margin: 1em auto;
   }

   .profile_preview ,
   .project_preview {
     margin-bottom: 3.5%;
   }

   #brand_logo_h1 {
     font-size: 3.5rem;
     margin-top: .2rem;
   }

   .profile_preview a.preview_link ,
   .project_preview a.preview_link {
     border-radius: 4px;
     padding: 2em 2em;
     margin-bottom: 40px;
   }

   .profile_img_preview {
     display: block;
     margin: 0 0;
     width: 30%;
   }

   .preview_text {
     margin-top: 5%;
   }

   .user_name {
     margin-bottom: 0;
   }

   .user_title {
     font-weight: 300;
     margin-top: 0;
   }

   .profile_headline {
     margin-top: 5%;
     margin-left: 0;
   }




 }


 /*
  * Small Screen Media Query
  */

@media screen and ( max-width: 768px ) {
  .jumbotron {
    padding: 5%;
  }

  .jumbotron .btn-lg{
    display: block;
    margin: 1em auto;
  }

  .profile_preview ,
  .project_preview {
    margin: 3.5%;
  }

  #brand_logo_h1 {
    font-size: 3.5rem;
    margin-top: .2rem;
  }

  #aboutDiv {
    margin-bottom: 1.25em;
  }

  .profile_preview a.preview_link ,
  .project_preview a.preview_link {
    border-radius: 4px;
    padding: 1.75em 1.75em;
    margin-bottom: 40px;
  }

  .profile_img_preview {
    display: block;
    margin: 0 auto 0 auto;
    width: 100%;
    border-radius: 0px;
    box-shadow: 0px 0px 0px 0px red;
  }

  .preview_text {
    margin-top: 0;
    border-top: 1px solid rgba(160,160,160,1.0);
    box-shadow: inset 0px 1px 0px 0px rgba(160,160,160,1.0);
  }

  .user_name {
    margin-bottom: 0;
  }
  .user_title {
    font-weight: 300;
    margin-top: 0;
  }

  .profile_img {
    margin: 0;
    width: 30%;
  }

  .profile_headline {
    margin: 5% 0 0 0;
    padding: 0;
  }

  .content_box {
    padding: 2% 5%;
    background: transparent;
    /*background: rgba(200,200,200,1.0);*/
  }
  .card {
    padding: 5%;
  }

  .edit_save_button_bottom {
    display: block;
  }

  .navbar {
    margin-bottom: 35px;
  }

  ul.social_links:last-child {
    margin-bottom: 0px;
  }


  .skill_pill {
    font-family: sans-serif;
    border-radius: 5px;
  color: rgba(255,255,255,1.0);
    font-size: 1.5rem;
    animation-duration: .35s;
    width: 70%;
    position: relative;
    display: inline-block;
    background: rgba(140,140,140,1.0);
    padding: 10px;
    text-align: center;
    margin: 1.5%;
    overflow: hidden;
  }

footer {
  text-align: center;
}


}
